body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.mainBody {
  width: 800px;
  margin: 0 auto;
}

h1 {
  font-style: italic;
  text-decoration: underline;
}

.poemInput {
  width: 100%;
  height: 400px;
}

.maskedPoem {
  overflow-y: scroll;
  height: 70vh;
}

.maskedPoem.completed {
  color: green;
}

.poemTitle h2 {
  margin-bottom: 0.2em;
  margin-top: 0em;
}
.poemTitle p {
  font-style: italic;
  font-size: 0.6em;
  margin-top: 0;
}

.wordGuess {
  font-size: 2em;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 0.2em;
}

.guesses {
  margin-bottom: 2em;
}

.maskedWord {
  cursor: pointer;
  border: 1px solid white;
}

.maskedWord:hover {
  border: 1px solid blue;
}

.shownWord.revealed {
  color: red;
}

.maskedPoem {
  font-size: 1.4em;
  line-height: 1.3;
}
